.footer {
    position: relative;
    min-height: 630px;
    @media (max-width: 992px) {
        min-height: unset;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        padding: 50px 0 60px;
        background-color: $main-color;
        z-index: 1;
        @media (max-width: 992px) {
            position: relative;
            width: 100%;
            height: auto;
            padding: 25px 0 30px;
        }
    }
    &__addr {
        height: 19px;
        margin-bottom: 36px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        @media (max-width: 576px) {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        @media (max-width: 576px) {
            margin-bottom: 20px;
            font-size: 16px;
        }
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin: 0 15px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            @media (max-width: 576px) {
                height: 30px;
                width: 30px;
                border: 1px solid #ffffff;
            }
            img {
                height: 27px;
                @media (max-width: 576px) {
                    height: 15px;
                }
            }
        }
    }
    & > ymaps {
        @media (max-width: 768px) {
            height: 60vh !important;
        }
    }
    .ymaps-2-1-77-map {
        @media (max-width: 768px) {
            height: 60vh !important;
        }
    }
}