:root {
  --select-wrapper-margin-bottom: 24px;
  --select-border-width: 1px;
  --select-border-color: #e7f0fe;
  --select-border-radius: 8px;
  --select-border-color-hover: #d9e6fb;
  --select-border-color-active: #e7f0fe;
  --select-border-color-disabled: rgb(231 240 254 / 0.6);
  --select-border-color-error: var(--pink);
  --select-font-weight: 400;
  --select-color: var(--text-color-one);
  --select-color-disabled: rgb(100 124 159 / 0.6);
  --select-background-color: #f6f7fb;
  --select-background-color-light: #ffffff;
  --select-background-color-hover: #f8f9fa;
  --select-background-color-active: #f8f9fa;
  --select-background-color-disabled: #ffffff;
  --select-small-height: 30px;
  --select-medium-height: 40px;
  --select-large-height: 65px;
  --select-medium-font-size: 12px;
  --select-large-font-size: 14px;
  --select-padding: 0 12px;
  --select-open-indicator-fill: #04202f;
  --select-open-indicator-fill-disabled: #647c9f;
  --select-clear-indicator-fill: #a2b5c7;
  --select-multiple-background-color: #f6f7fb;
  --select-multiple-background-color-hover: #f8f9fa;
  --select-multiple-background-color-active: #f8f9fa;
  --select-multiple-background-color-disabled: #ffffff;
  --select-multiple-selected-margin-right: 12px;
  --select-multiple-selected-padding: 4px 6px;
  --select-multiple-selected-border-radius: 4px;
  --select-multiple-deselect-margin-left: 6px;
  --select-label-medium-font-size: 12px;
  --select-label-medium-font-size-active: 10px;
  --select-label-large-font-size: 14px;
  --select-label-large-font-size-active: 12px;
  --select-label-font-weight-active: 400;
  --select-label-color: var(--text-color-two);
  --select-label-color-hover: var(--text-color-two);
  --select-label-color-active: var(--text-color-two);
  --select-label-color-disabled: rgb(100 124 159 / 0.6);
  --select-label-transform: translateY(-120%);
  --select-filter-placeholder-font-weight: 500;
  --select-filter-placeholder-font-size: 12px;
  --select-spinner-border-width: 3px;
  --select-spinner-border-color: #d9e6fb;
  --select-spinner-border-color-active: #bad1e6;
  --select-dropdown-max-height: 250px;
  --select-dropdown-border-radius: 0 0 8px 8px;
  --select-dropdown-background-color: var(--white);
  --select-dropdown-scrollbar-background-color: #eeefef;
  --select-dropdown-scrollbar-background-color-hover: #aebed6;
  --select-dropdown-option-padding: 15px 12px;
  --select-dropdown-option-background-color-highlight: #f8f9fa;
  --select-dropdown-option-color-highlight: #04202f;
  --select-dropdown-option-color-separator: #e7f0fe;
  --select-dropdown-option-color-disabled: rgb(100 124 159 / 0.6);
}
