.title {
	position: relative;
	margin: 38px 0 0;
	color: #222222;
	font-size: 38px;
	line-height: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
    z-index: 2;
	&_white {
        color: #fff;
    }
}