:root {
  --white: #ffffff;
  --pink: #e80061;
  --blue-lightest: #e7f0fe;
  --blue-lightest-3: #f8f9fa;
  --blue-light: #8292a1;
  --blue-light-1: #718495;
  --blue-light-2: #637484;
  --blue-light-3: #647c9f;
  --blue-darkest: #04202f;
}
